{{#with celebrityDetails}}
<h2>{{name}}</h2>
<p>Name: {{name}}</p>
<p>Occupation: {{occupation}}</p>
<p>catchPhrase: {{catchPhrase}}</p>
{{!-- <a href="/celebrities/edit/{{_id}}">Edit this celebrity</a>
<a href="/celebrities/delete/{{_id}}">Delete this celebrity</a> --}}
{{/with}}